img{
    height: 150px;   
    width: 150px;
}
html {
    background-color: #74dbe0;
    /* background-image: -webkit-linear-gradient(65deg, #f5d4f0 50%, #3c3d2a 50%); */
    min-height: 1000px;
    font-family: 'helvetica neue';
  }
  p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #00204a;
    text-align: center;
  }
hr{
    background-color: rgb(179, 236, 217);
    align-items: center;
    height: 1px;  
    width: 23%;
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 2px;
    
}

table {

    align-content: center;
    border-collapse: collapse;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 3vh;
  }
  
  td, th {
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    height: 50px;  
    width: 50px;
  }
  td:hover{
    background-color: orange;
  }

  footer{
    text-align: center;
  }
/*-------------------clases-----------------*/
/*-------------------part of the -------------------*/
.black_box{
    background-color: rgb(235, 70, 64);
}
.wait_box{
    background-color: rgb(173, 140, 155);
}
.peec{
    border-radius: 100%;
    height: 40px;  
    width: 40px;
}
.can_go{      
    background-color: rgb(32, 243, 50);
}
.sideBox{
    background-color: rgb(203, 39, 224);
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    height: 50px;  
    width: 50px;
}
.sideBoxText{
  font-size: 15px;

}
/*-------------------game objects-----------------*/


.black.Pawn{
  background-image:url("/imges/black_picec/black_pwond.png");
  background-repeat:no-repeat;
  background-size:40px 40px;
  background-position: center;
}

.black.Bishop{
  background-image:url("/imges/black_picec/Black_Bishop.png");
  background-repeat:no-repeat;
  background-size:40px 40px;
  background-position: center;
}
.black.Knight{
  background-image:url("/imges/black_picec/Black_Knight.png");
  background-repeat:no-repeat;
  background-size:40px 40px;
  background-position: center;
}
.black.Rook{
  background-image:url("/imges/black_picec/Black_Rook.png");
  background-repeat:no-repeat;
  background-size:40px 40px;
  background-position: center;
}
.black.King{
  background-image:url("/imges/black_picec/Black_King.png");
  background-repeat:no-repeat;
  background-size:40px 40px;
  background-position: center;
}
.black.Queen{
  background-image:url("/imges/black_picec/Black_Queen.png");
  background-repeat:no-repeat;
  background-size:40px 40px;
  background-position: center;
}

.white.Pawn{
  background-image:url("/imges/white_picec/White_pwond.png");
  background-repeat:no-repeat;
  background-size:40px 40px;
  background-position: center;
}

.white.Bishop{
  background-image:url("/imges/white_picec/White_Bishop.png");
  background-repeat:no-repeat;
  background-size:40px 40px;
  background-position: center;
}
.white.Knight{
  background-image:url("/imges/white_picec/White_Knight.png");
  background-repeat:no-repeat;
  background-size:40px 40px;
  background-position: center;
}
.white.Rook{
  background-image:url("/imges/white_picec/White_Rook.png");
  background-repeat:no-repeat;
  background-size:40px 40px;
  background-position: center;
}
.white.King{
  background-image:url("/imges/white_picec/White_King.png");
  background-repeat:no-repeat;
  background-size:40px 40px;
  background-position: center;
}
.white.Queen{
  background-image:url("/imges/white_picec/White_Queen.png");
  background-repeat:no-repeat;
  background-size:40px 40px;
  background-position: center;
}

.Knight{
  background-image:url("/imges/Knight.jpg");
  background-repeat:no-repeat;
  background-size:40px 40px;
  background-position: center;
}



/*-------------------text-------------------*/
/* .midell_text{
    text-align: center;
} */
/*-------------------id-------------------*/
  #myimg{
      border-radius: 100%;
  }

  #win{
    background-position: center;
  }